<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER</title>
</head>
<body>
    <h1>This is the user page</h1>

    <span>Your name is:</span>
    <span style="font-weight: 800; color: blue;" th:text="${name}"></span>
    <br>

    <span>Your age is:</span>
    <span style="font-weight: 800; color: blue;"th:text="${age}"></span>
    <br>

    <span>Your email is:</span>
    <span style="font-weight: 800; color: blue;" th:text="${email}"></span>
</body>
</html>